@import './../../../css/variables';

.container {
    padding: 30px 20px 21px 18px;
    
    display: grid;
    grid-template-columns: 24px 1fr;
    grid-template-rows: 1fr;
    gap: 0px 17px;
    max-width: 570px;
    max-height: 160px;
    border-radius: 10px;
        background: var(--white, #FFF);
    
        /* Effect-1 */
        box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    }


    .title {
        color: var(--black, #232233);
        
            /* H6-20px */
            font-family: Josefin Sans;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 30px;
            /* 150% */
            text-transform: uppercase;
            margin-bottom: 12px;
    }

    .text {
        color: var(--gray-paragraph, #6C6C72);
        
            /* H7-16px (Paragraph Text) */
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 150% */
    }