@import "nullstyle";
@import "defaultStyles";
@import "variables";

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 0px auto;
    background-repeat: no-repeat;
}

.background {
    max-width: 1440px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;

}

/* ---------------------------------------------------------------------------- */


/* ---------------------------------------------------------------------------- */
._container {
    max-width: 1046px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}

._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}


.swiper-slide {
    opacity: 80%;
    box-shadow: none;
    
}

.swiper-slide-prev {
    opacity: 100%;
}

.swiper-slide-next {
    opacity: 100%;
}

.swiper-slide-active {
    opacity: 100%;
}

.swiper-slide-shadow-right {
    opacity: 0%;
}

.swiper-slide-shadow-left {
    opacity: 0%;
}

.swiper-slide-shadow-coverflow {
    opacity: 0%;
}

.swiper-pagination {
    position: relative;
    margin-top: 50px;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background-color: $cblue ;
    opacity: 100%;
}

.swiper-pagination-bullet-active::before {
    width: 24px;
    height: 24px;
    content: " ";
    background-color: none;
    border: 1px solid $cblue;
    position: absolute;
    transform: translate(-50%, -2px);
    border-radius: 100%;
}